<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:macro name="base_module_gazebo">
    <!-- ============================   Base Module Gazebo   ============================ -->

    <gazebo>
      <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
        <updateRate>100.0</updateRate>
        <robotNamespace></robotNamespace>
        <leftFrontJoint>base_to_left_front_wheel</leftFrontJoint>
        <rightFrontJoint>base_to_right_front_wheel</rightFrontJoint>
        <leftRearJoint>base_to_left_back_wheel</leftRearJoint>
        <rightRearJoint>base_to_right_back_wheel</rightRearJoint>
        <wheelSeparation>0.2794</wheelSeparation>
        <wheelDiameter>0.0625</wheelDiameter>
        <robotBaseFrame>up1_footprint</robotBaseFrame>
        <torque>20</torque>
        <topicName>cmd_vel</topicName>
        <broadcastTF>false</broadcastTF>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
