<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:include filename="$(find up1_description)/urdf/base_module/wheel.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/base_module/base_module.gazebo.xacro" />

  <xacro:macro name="base_module">
    <!-- ============================   Base Module   ============================ -->

    <!-- base_footprint is a fictitious link(frame) that is on the ground right below base_link origin,
         navigation stack dedpends on this frame -->
    <link name="up1_footprint">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="white" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry>
      </collision>
    </link>
    <joint name="up1_footprint_joint" type="fixed">
      <origin xyz="0 0 0.06016" rpy="0 0 0" />
      <child link="base_link" />
      <parent link="up1_footprint"/>
    </joint>

    <!-- Base Link -->
    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://up1_description/meshes/base/base_viz.dae" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://up1_description/meshes/base/base.dae" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.30813"/>
        <inertia ixx="0.00175941073" ixy="0.00000172768" ixz="-0.00008279443"
                 iyy="0.00172024238" iyz="0.00000045789" izz="0.00311278092"/>
      </inertial>
    </link>

    <xacro:base_module_gazebo />

    <xacro:wheel prefix="right" reflect="1" />
    <xacro:wheel prefix="left" reflect="-1" />

  </xacro:macro>

</robot>
