<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:include filename="$(find up1_description)/urdf/common.gazebo.xacro" />

  <xacro:property name="pi" value="3.14159" />

  <xacro:property name="front_wheel_offset_x" value="0.05569" />
  <xacro:property name="front_wheel_offset_y" value="0.12922" />
  <xacro:property name="front_wheel_offset_z" value="-0.02110" />

  <xacro:property name="back_wheel_offset_x" value="-0.05883" />
  <xacro:property name="back_wheel_offset_y" value="0.12922" />
  <xacro:property name="back_wheel_offset_z" value="-0.02110" />

  <xacro:property name="io_offset_x" value="0.09136" />
  <xacro:property name="io_offset_y" value="0" />
  <xacro:property name="io_offset_z" value="0.03356" />

  <xacro:property name="camera_offset_x" value="-0.00619" />
  <xacro:property name="camera_offset_y" value="0.02127" />
  <xacro:property name="camera_offset_z" value="0.00451" />

  <material name="black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="white">
    <color rgba="1 1 1 1" />
  </material>
  <material name="red">
    <color rgba="1 0 0 1" />
  </material>
  <material name="grey">
    <color rgba=".5 .5 .5 1" />
  </material>
  <material name="green">
    <color rgba="0 1 0 1" />
  </material>
  <material name="blue">
    <color rgba="0 0 1 1" />
  </material>
  <material name="yellow">
    <color rgba="1 1 0 1" />
  </material>

  <xacro:common_gazebo />

</robot>
