<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <!-- This syntax does not appear to work, even in ros-indigo -->
  <!-- <xacro:arg name="side" default="left_arm" /> -->

  <xacro:include filename="$(find up1_description)/urdf/common.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/manipulator_module/dual_arm_module/$(arg side)_arm_group.xacro" />

  <xacro:arm_group />

</robot>
