<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:macro name="arm_transmission" params="prefix">
    <!-- ============================   Arm Transmission  ============================ -->

    <transmission name="${prefix}_armroot_to_armlink1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_armroot_to_armlink1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}_armroot_to_armlink1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}_armlink1_to_armlink2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_armlink1_to_armlink2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}_armlink1_to_armlink2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}_armlink2_to_armlink3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_armlink2_to_armlink3">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}_armlink2_to_armlink3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}_armlink3_to_armlink4_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_armlink3_to_armlink4">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}_armlink3_to_armlink4_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}_armlink4_to_gripper_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_armlink4_to_gripper">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}_armlink4_to_gripper_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
