<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:property name="armroot_offset_z" value="0.03876" />
  <xacro:property name="armroot_offset_x" value="-0.00869" />
  <xacro:property name="armroot_offset_y" value="0.0" />

  <xacro:macro name="arm_root_link">
    <!-- ============================   Arm Root Link   ============================ -->

    <!-- Armroot Link -->
    <link name="armroot_link">
      <visual>
        <geometry>
          <mesh filename="package://up1_description/meshes/mono_arm/armroot_viz.dae" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://up1_description/meshes/mono_arm/armroot.dae" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.20657"/>
        <inertia ixx="0.00096240277" ixy="-0.00000350376" ixz="0.00002354169"
                 iyy="0.00057897825" iyz="0.00000127419" izz="0.00134814249"/>
      </inertial>
    </link>

  </xacro:macro>

</robot>
