<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:include filename="$(find up1_description)/urdf/manipulator_module/mono_arm_module/arm_root_link.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/manipulator_module/mono_arm_module/arm.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/manipulator_module/mono_arm_module/gripper.xacro" />

  <xacro:macro name="manipulator_module">
    <!-- ============================   Dual Arm Module   ============================ -->
    <!-- This xacro group is intended to be used in a full UP1 robot URDF -->

    <!-- Armroot Joint -->
    <joint name="base_to_armroot" type="fixed">
      <parent link="base_link" />
      <child link="armroot_link" />
      <origin xyz="${armroot_offset_x} ${armroot_offset_y} ${armroot_offset_z}" />
    </joint>

    <xacro:arm_root_link />

    <xacro:arm prefix="right" reflect="1" />

    <xacro:gripper prefix="right" reflect="1" />

  </xacro:macro>

</robot>
