<launch>
  <arg name="joints_gui" default="false" />
  <include file="$(find up1_description)/launch/description.launch">
    <arg name="manipulator_module" value="mono_arm" />
  </include>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg joints_gui)" />
  </node>
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
