<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:macro name="camera" params="prefix reflect">
    <!-- ============================   Camera   ============================ -->

    <!-- Camera Joint -->
    <joint name="io_to_${prefix}_camera" type="fixed">
      <parent link="io_link" />
      <child link="${prefix}_camera" />
      <origin xyz="${camera_offset_x} ${-reflect*camera_offset_y} ${camera_offset_z}" rpy="0 ${pi/15} 0"/>
    </joint>
    <!-- Camera Link -->
    <link name="${prefix}_camera">
      <visual>
        <geometry>
          <mesh filename="package://up1_description/meshes/io/camera_viz.dae" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://up1_description/meshes/io/camera.dae" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.00488"/>
        <inertia ixx="0.00000029098" ixy="0.0" ixz="0.0"
                 iyy="0.00000085538" iyz="0.0" izz="0.00000085538"/>
      </inertial>
    </link>

  </xacro:macro>

</robot>
