<?xml version="1.0"?>
<launch>

  <!-- Load robot description -->
  <!-- TODO: figure out how to get these parameters from the modules.yaml file or parameter server -->
  <arg name="base_module" default="base" />
  <arg name="manipulator_module" default="dual_arm" />
  <arg name="io_module" default="io" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(find up1_description)/urdf/up1.xacro
      base_module:=$(arg base_module)
      manipulator_module:=$(arg manipulator_module)
      io_module:=$(arg io_module)" />

  <!-- Load robot configuration to parameter server -->
  <rosparam file="$(find up1_description)/config/modules.yaml" command="load" />

</launch>
