<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:macro name="arm_gazebo" params="prefix">
    <!-- ============================   Arm Gazebo  ============================ -->

    <gazebo reference="${prefix}_armlink1">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <gazebo reference="${prefix}_armlink2">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <gazebo reference="${prefix}_armlink3">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <gazebo reference="${prefix}_armlink4">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <gazebo reference="${prefix}_gripper">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

  </xacro:macro>

</robot>
