.upcom-viz {
    height: 100%;
    border: none;
    background-color: #0c0c0c;
}

.upcom-viz-urdf-div {
    width: 100%;
    height: 100%;
}

.upcom-viz-urdf-canvas {
    width: 100%;
    height: 100%;
}